<table>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= link_to song.full_path, song_path(song) %>
        </td>
        <td>
          <%= song.to_s %>
        </td>
        <td>
          <%= song.duration_formated %>
        </td>
        <td>
          <%= song.play_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
