<script>
  $( document ).ready(function() {
    var vol = $("#audio_player").data("volume");
    document.getElementById('audio_player').volume = vol;
  });
</script>
<audio id="audio_player" src="<%= @song.sound.url %>" data-volume="<%= @volume %>" type="<%= @song.sound_content_type %>" controls autoplay preload="none">
  <p>Browser does not support this audio player</p>
</audio>
