<script src="//api.html5media.info/1.1.8/html5media.min.js"></script>

<audio id="audio_player" data-volume="<%= @volume %>" data-seek="<%= @seek %>" controls autoplay preload="none">
  <source src="<%= @song.sound.ogg.url %>" type="audio/ogg" />
  <source src="<%= @song.sound.url %>" type="audio/mpeg" />
  <p>Browser does not support this audio player</p>
</audio>


