<script src="//api.html5media.info/1.1.8/html5media.min.js"></script>

<script>
  $( document ).ready(function() {
    document.getElementById('audio_player_html5').volume = <%= @volume %>;
  });
</script>

<audio id="audio_player_html5" src="<%= @song.sound.ogg.url %>" controls autoplay preload="none">
  <p>Browser does not support this audio player</p>
</audio>


