<script>
  $( document ).ready(function() {
    document.getElementById('audio_player').volume = <%= @volume %>;
  });
</script>
<audio id="audio_player" src="<%= @song.sound.url %>" controls autoplay >
  <p>Browser does not support this audio player</p>
</audio>

