/* mixins, variables, etc. */
 
$gray-medium-light: #eaeaea;

$good: #008000;
$bad: #FF0000;
$gold-star: #ffd700;
$comment-counter: #1ef9ff;
$footer-text: #FFF;
$footer-background: #222;
 
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



body {
    padding-top: 60px;
}

footer {
    margin: 50px 0;
    border-top: 1px solid $gray-medium-light;
    p {
        text-align: center;
        font-size: 85%;
    }
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
.push {
    height: 63px;
}

//Fix empty dl values not beign displayed correctly
.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}

/* miscellaneous */

.debug_dump {
    background-color: $gray-medium-light;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
